.project-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(213, 220, 226);
    width: 950px;
    border: 1px solid rgba(129, 136, 146, 0.4);
    margin-top: 40px;

    border-radius: 10px;
    color: rgba(129, 136, 146);
}

.back-home {
    z-index: 10;
    font-size: 85pt;
    width: 50px;
    position: fixed;
    margin: 35px 0 0 -90%;
    color: white;
    height: 155px;
    background-color: rgba(255, 255, 255, 0);
}

.margin {
    color: white;
    position: fixed;
    width: 50px;
    margin: 160px 0 0 -87%;
}

/* ---------------------------------------------------------------------- */
/* NAVIGATION */

.fake-nav-box {
    border-radius: 10px 10px 0 0;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav {
    text-align: center;
    font-size: 12pt;
    padding: 10px;
}
.nav img {
    border-radius: 10em;
}
.nav.i {
    margin: 10px;
    font-size: 20pt;
}
.nav.search {
    text-align: end;
    width: 750px;
    height: 35px;
    background-color: rgb(231, 234, 237);
    color: rgb(129, 136, 146);
    border-radius: 5px;
}
.nav.login,
.nav.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}
.nav.login {
    background-color: white;
    color: rgb(52, 119, 204);
    border: 1px solid rgb(52, 119, 204);
}
.nav.signup {
    color: white;
    background-color: rgb(52, 119, 204);
}
/* ---------------------------------------------------------------------- */
/* PROJECTS */

.proj-header {
    width: 920px;
    margin: 5px 0 10px 0;
    font-size: 13pt;
}

.exp {
    margin-bottom: 15px;
}

.proj {
    display: flex;
    flex-direction: column;
}

.project-photo-box {
    height: 200px;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.proj img {
    border-radius: 10px;
    margin: 0 8px 0 8px;
}

/* ---------------------------------------------------------------------- */
/* PROJECT-DROPDOWNS */

.project-dropdown-box {
}
.proj-dd {
}
.proj-dd.this {
}
.proj-dd.journ {
}
.proj-dd.seen {
}

/* ---------------------------------------------------------------------- */
/* EDUCATION */

.education-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 930px;
    border: 1px solid rgba(129, 136, 146, 0.4);

    margin: 0 10px 20px 10px;
    border-radius: 5px;
    background-color: white;
}
.edu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 10pt;
    height: 60px;
    width: 475px;
}
.edu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 5px;
    border-radius: 3em;
}
.edu-text.blue {
    background-color: rgb(231, 232, 233);
    color: rgb(52, 119, 204);
    font-weight: bolder;
}

/* ---------------------------------------------------------------------- */
/* WORK EXPERIENCE */

.flex {
    display: flex;
    flex-direction: row;
    width: 950px;
}

.job {
    border: 1px solid rgba(129, 136, 146, 0.4);
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 650px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-bottom: 15px;
}
.up-dn-box {
    border-radius: 5px 0 0 5px;
    width: 50px;
    background-color: rgb(247, 248, 249);
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    margin-right: 5px;
}
.up-dn-box i {
    font-size: 24pt;
    margin: 5px;
    color: silver;
}
.vote {
    color: black;
}
.feed-box {
    width: 100%;
    height: 100%;
}
.jd {
    padding-left: 10px;
    font-size: 15pt;
    margin: 10px 10px 10px 10px;
    color: black;
}
.job-img img {
    margin-left: 20px;
}
.split-banner {
    display: flex;
}
.rd-banner {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 12pt;
}
.ban-icon {
    height: 20px;
    width: 20px;
    background-color: seagreen;
    border-radius: 5em;
}
.job-title {
    height: 20px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}
.loc-length {
    margin-left: 10px;
    height: 20px;

    color: rgb(163, 167, 172);
}
.join {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 100px;
    color: white;
    background-color: rgba(36, 126, 206, 0.904);
    border-radius: 25px;
    margin: 5px 10px 0 0;
}

.resume-pdf {
    margin: 0 10px 0 20px;
    height: 250px;
    border: 1px solid rgba(129, 136, 146, 0.4);
    border-radius: 5px;
    background-color: white;
}

.res-top {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.res-top p {
    text-align: center;
}

.res-header {
    font-size: 16pt;
    margin: 20px 0 10px 0;
    color: black;
}

.res-lower {
    text-align: center;
    padding: 0 10px 0 10px;
}

.res-icon {
    margin-right: 20px;
    text-align: center;
}

.res-button {
    text-align: center;
    width: 100%;
    padding: 10px;
}

.res-button button {
    padding: none;
    width: 100%;
    border-radius: 100px;
    background-color: rgba(234, 64, 45, 0.876);
    border: none;
}

.res-button a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 12pt;
}
