.top-sect-container {
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 355px;
    border-radius: 60px 60px 0 0;
    border: none;
    background-image: url('https://i.postimg.cc/4xD8dXX8/Top-Phone-BG.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.phone-icons {
    margin-top: 10px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    font-size: 18pt;
}

.phone-icons i {
    margin-left: 10px;
}

.top-bumper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 550px;
    background-color: black;
    border-radius: 0 0 10em 10em;
}

img.phone-receiver {
    border-radius: 10em;
    height: 10px;
    width: 200px;
    margin-left: 40px;
}

.selfie-cam {
    border-radius: 5em;
    margin: 10px;
    background-color: white;
    height: 15px;
    width: 15px;
    background-color: rgb(124, 14, 14);
}

img.my-picture {
    height: 225px;
    border-radius: 10em;
}

.arrow-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.top-spacer {
    width: 75px;
}

.text-back-arrow {
    color: rgb(47, 127, 255);
    font-size: 56pt;
    font-family: monospace;
    text-shadow: 1px 1px white;
    border-radius: 10em;
}

.text-back-arrow p {
    margin: -10px 0 0 -5px;
    color: white;
    font-size: 8pt;
    text-shadow: none;
}

.dash-name {
    font-size: 42pt;
    color: rgb(41, 41, 41);
}
