.resume-container {
    margin-top: 20px;
    width: 600px;
    height: 900px;
    padding: 10px;
    overflow: scroll;
}
.resume {
    height: 100%;
    width: 100%;
    overflow: visible;
    background: url('../../data/Resume.png');
    background-repeat: no-repeat;
    background-size: auto;
}
