.project-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(213, 220, 226);
    width: 950px;
    height: 1700px;
    border: 1px solid rgba(129, 136, 146, 0.4);
    margin-top: 20px;
    border-radius: 10px;
    color: #818892;
}

.back-home {
    z-index: 10;
    font-size: 85pt;
    width: 50px;
    position: fixed;
    margin: 35px 0 0 -90%;
    color: white;
    height: 155px;
    background-color: rgba(255, 255, 255, 0);
}

.margin {
    color: white;
    position: fixed;
    width: 50px;
    margin: 160px 0 0 -87%;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 950px;
}
