.phone {
    width: 750px;
    height: 1395px;
    background-color: black;
    border-radius: 5em;
    margin-top: 20px;
    border: 10px solid black;
    color: white;
}

/* ------------------------------------------------------------------ */

/* TOP */

.phone-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    border-radius: 5em 5em 0 0;
    background-color: rgba(155, 155, 155, 0.3);
}

.top-across,
.phone-icons {
    display: flex;
    flex-direction: row;
}

.phone-icons {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 85px;
    font-size: 18pt;
}

.phone-time {
    text-align: center;
    margin-right: 10px;
    width: 85px;
    font-size: 18pt;
}

.top-bumper {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 450px;
    background-color: black;
    border-radius: 0 0 10em 10em;
}

.phone-top img.phone-receiver {
    border-radius: 10em;
    margin: 8px 20px 0 0;
    height: 7px;
    width: 60px;
}

.selfie-cam {
    border-radius: 5em;
    margin: 8px 165px 0 0;
    background-color: white;
    height: 9px;
    width: 9px;
    background-color: rgb(124, 14, 14);
}

.phone-top img.my-picture {
    margin: 10px;
    height: 180px;
    border-radius: 10em;
}

.dash-name {
    margin-bottom: 10px;
    font-size: 20pt;
    font-weight: lighter;
    color: rgb(245, 245, 245);
}

/* ------------------------------------------------------------------ */

/* MIDDDLE */

.phone-screen {
    display: flex;
    flex-direction: column;
    color: white;
    height: 930px;
    background-color: black;
    border-radius: 5em;
}

.text {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

li {
    list-style-type: none;
    margin: 3px;
    font-size: 20pt;
}

.inner-text {
    border-radius: 2em;
    width: 365px;
    padding: 20px;
}

.inner-text.left {
    background-color: rgba(155, 155, 155, 0.3);
}

.inner-text.right {
    background-color: rgb(47, 127, 255);
}

/* ------------------------------------------------------------------ */

/* BOTTOM */

.phone-bottom {
    border-radius: 0 0 5em 5em;
    height: 175px;
    background-color: rgba(155, 155, 155, 0.3);
}
