.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    height: 1395px;
    background-color: black;
    border-radius: 5em;
    margin-top: 20px;
    border: 5px solid black;
    color: white;
    box-shadow: 15px 3px rgba(189, 54, 54, 0.822);
}

.dashboard-background {
    border-radius: 5em;
    box-shadow: 20px 20px 20px rgba(27, 27, 27);
}

/* ------------------------------------------------------------------ */

/* TOP */

.phone-top {
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    border-radius: 5em 5em 0 0;
    border: none;
    background-image: url('/Users/stephen/Desktop/portfolio/src/data/TopPhoneBG.png');
    background-size: cover;
    background-blend-mode: saturation;
}

.top-banner,
.phone-icons {
    display: flex;
    flex-direction: row;
}

.phone-icons {
    margin: 5px 0 0 15px;
    display: flex;
    justify-content: space-between;
    width: 85px;
    font-size: 18pt;
}

.phone-time {
    text-align: center;
    margin: 5px 10px 0 0px;
    width: 85px;
    font-size: 18pt;
}

.top-bumper {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 450px;
    background-color: black;
    border-radius: 0 0 10em 10em;
}

.phone-top img.phone-receiver {
    border-radius: 10em;
    margin: 8px 20px 0 0;
    height: 7px;
    width: 60px;
}

.selfie-cam {
    border-radius: 5em;
    margin: 8px 165px 0 0;
    background-color: white;
    height: 9px;
    width: 9px;
    background-color: rgb(124, 14, 14);
}

.phone-top img.my-picture {
    margin: 10px;
    height: 180px;
    border-radius: 10em;
}

.arrow-image-container {
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 650px;
}

.text-back-arrow {
    color: rgb(47, 127, 255);
    font-size: 36pt;
    font-family: monospace;
}

.dash-name {
    margin-bottom: 10px;
    font-size: 20pt;
    font-weight: lighter;
    color: rgb(245, 245, 245);
}

/* ------------------------------------------------------------------ */

/* MIDDDLE */

.power-button {
    position: static;
    width: 10px;
    height: 200px;
    background-color: rgb(133, 77, 77);
    margin: -1050px 0px 0px 752px;
    border-radius: 5em;
}

.phone-screen {
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    border: none;
    height: 930px;
    background-color: rgb(233, 233, 233);
}

.text-box {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

li {
    list-style-type: none;
    margin: 3px;
    font-size: 20pt;
}

.inner-text {
    border-radius: 2em;
    width: 365px;
    padding: 20px;
}

.inner-text.left {
    color: rgb(109, 109, 109);
    background-color: rgb(185, 185, 185);
}

.inner-text.right {
    color: white;
    background-color: rgb(47, 127, 255);
}

/* ------------------------------------------------------------------ */

/* BOTTOM */

.phone-bottom {
    margin-left: 10px;
    width: 735px;
    border-radius: 0 0 5em 5em;
    height: 175px;
    background-image: url('/Users/stephen/Desktop/portfolio/src/data/TopPhoneBG.png');
}
