.contact-box {
    display: flex;
    background-color: rgb(233, 233, 233);
    align-items: center;
    margin: 0 5px 0 5px;
}
.email {
    margin: 5px 5px 5px 10px;
    padding: 20px 0 20px 30px;
    width: 200px;
    border-radius: 5em;
    border: 1px solid rgba(174, 174, 174, 0.706);
    font-size: 12pt;
    outline: none;
    transition: 500ms;
}

.email.hidden {
    transition: 1000ms;
    position: absolute;
    width: 0;
    opacity: 0;
}

.email::placeholder,
.message::placeholder {
    font-style: italic;
    color: rgba(214, 218, 220, 0.823);
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 18pt;
    width: 200px;
    margin: 5px 5px 5px 5px;
    color: rgb(70, 70, 70);
    font-size: 42pt;
}

.here {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 12pt;
    color: rgb(174, 179, 182);
}

.fa-envelope {
    margin-right: 20px;
    font-size: 42pt;
    color: ivory;
    text-shadow: 3px 5px rgba(0, 0, 0, 0.575);
}

.contact.hidden {
    transition: 1000ms;
    position: absolute;
    z-index: -1;
}

.message {
    font-size: 12pt;
    margin: 5px -50px 5px 5px;
    padding: 20px 0 20px 30px;
    align-items: center;
    width: 495px;
    border-radius: 5em;
    border: 1px solid rgba(174, 174, 174, 0.706);
    outline: none;
}

.email-submit {
    margin: 0 20px 0 0;
    border-radius: 5em;
    height: 40px;
    width: 40px;
    color: white;
    background-color: rgb(17, 192, 17);
    font-size: 24pt;
    border: none;
}
