* {
    box-sizing: border-box;
}

body,
html {
    height: 1720px;
    width: 100vw;
    overflow: visible;
    display: flex;
    justify-content: center;
    background: url('https://cdn.wallpapersafari.com/99/27/Tl6MzR.jpg')
        no-repeat;
    background-size: cover;
}
