* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
}

body {
    background: url('https://cdn.wallpapersafari.com/99/27/Tl6MzR.jpg')
        no-repeat center;
    background-size: cover;
    overflow: scroll;
}
